#leftback{ 
    background-color:#d06fff;
    line-height: 600px;
    background-image: url("images/spel/Chess_opsteling2.png");
    background-size: cover;

}
#leftback:hover{ 
    background-color: #ffd55a;

}

#rightback{ 
    background-color: #76b9e6 ;
    line-height: 600px;
    background-image: url("images/illustratie/fishesNoCats-01BW.png");
    background-size: cover;
}

#rightback:hover{ 
    background-color: #ffd55a;


}
#homebanner{ 
    height: 100px;
    line-height: 100px;
}
#homebanner:hover, #zoekwerkbanner:hover{ 
    color: #76b9e6; 
}

body{ 
    background-color: #ffd55a;
}

.homerow{ 
    height: 600px;
}
#rightimage{ 
    width: 100%;
    object-fit:cover; 

}
#nav1:hover, #nav2:hover, #nav3:hover,
#nav4:hover{ 
    color: #76b9e6; 
}