#block1{ 
    background-color:#d06fff;
    background-image: url("images/illustratie/CatsChill-01.jpg");
    background-position: center;
    background-size: cover;
}
#block2{ 
    background-color: #76b9e6 ;
    background-image: url("images/illustratie/kakatoed-01\ -\ Copy.jpg");
    background-position: center;
    background-size: cover;
}
#block3{ 
    background-color:#d06fff;
    background-image: url("images/illustratie/mannpatroon.jpg");
    background-position: center;
    background-size: cover;
}
#block4{ 
    background-color: #76b9e6 ;
    background-image: url("images/illustratie/duckieMultiCentered-01.jpg");
    background-size: cover;
}
#block5{ 
    background-color:#d06fff;
    background-image: url("images/illustratie/ducktalesExp2.jpg");
    background-size: cover;
}
#block6{ 
    background-color: #76b9e6 ;
    background-image: url("images/illustratie/Dinooo.png");
    background-size: cover;
}
#block7{ 
    background-color:#d06fff;
    background-image: url("images/illustratie/SittingCats-01.jpg");
    background-size: cover;
}
#block8{ 
    background-color: #76b9e6 ;
    background-image: url("images/illustratie/PinguSmaller.png");
    background-size: cover;
}
#block9{ 
    background-color:#d06fff;
    background-image: url("images/illustratie/1080versie.png");
    background-size: cover;
}
#block10{ 
    background-color:#76b9e6;
    background-image: url("images/illustratie/CatsNoFishes.jpg");
    background-size: cover;
}
#block11{ 
    background-color: #d06fff;
    background-image: url("images/illustratie/Mini2MuisOlifant.png");
    background-size: cover;
}
#block12{ 
    background-color:#76b9e6;
    background-image: url("images/illustratie/boats3-01.jpg");
    background-size: cover;
}

#block13{ 
    background-color:#76b9e6;
    background-image: url("images/illustratie/Bad_bats-01.jpg");
    background-size: cover;
}
#block14{ 
    background-color: #d06fff;
    background-image: url("images/illustratie/fishesNoCats-01.jpg");
    background-size: cover;
}
#block15{ 
    background-color:#76b9e6;
    background-image: url("images/illustratie/ChineseMiniSchotel3.png");
    background-size: cover;
}


.portfolioblock{
    height: 200px;
    line-height: 400px;
    opacity: 0.5;
}

#block1:hover, #block2:hover, #block3:hover,
#block4:hover, #block5:hover, #block6:hover,
#block7:hover, #block8:hover, #block9:hover,
#block10:hover, #block11:hover, #block12:hover,
#block13:hover, #block14:hover, #block15:hover{ 
    background-color: #ffd55a;
    opacity: 1;
}
